<td class="tdManufacturer">{{manufacturer}}</td>
<td class="tdModel">{{model}}</td>
<td class="tdStock numeric">{{stock}}</td>
<!--<td class="tdWholesale numeric">${{wholesale}}</td>-->
<td class="tdWholesale numeric">
    <input
        class="tdWholesale"
        name="{{manufacturer}}-{{model}}"
        type="text"
        maxlength="7"
        size="7"
        value="{{wholesale}}"
    />
</td>
<td class="tdMargin numeric">
    <input
        class="tdMargin"
        name="{{manufacturer}}-{{model}}"
        type="text"
        maxlength="6"
        size="6"
        value="{{margin}}"
    />
</td>
<td class="tdRetail numeric">{{retail}}</td>
<td class="tdNetProfit numeric">{{netProfit}}</td>